
header{
    top: 0;
     display: flex;
     justify-content:space-between ;
     background-color: rgb(240, 16, 16);
     margin: 0;
     padding: 0;
     border: 0;
     max-height: 80px;
 
 }
 header #logo{
     font-size: 25px;
     padding-left: 30px;
     padding: 10px;
     
 
 }
 header #h_items
 {
     display: flex;
     padding: 20px;
   
 
 }
 
 header #h_items a{
     display: flex;
     padding-left: 10px;    
     margin-left: 10px;
     font-size: 20px;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-decoration: none;
     padding: 10px;
    
 }
 header #h_items a:hover{
  
    border-radius: 10px;
    color:rgb(240, 16, 16);
    background-color: white;
    padding: 10px;
   
}
  #body{
    
     max-height: 100vh;
     height: 800px;
     z-index: -1;
    
 }
 .slideshow{
    z-index: 1;
 }
 .slideshow img{
    position: absolute;
    width:100%;
    height: 500px;
    margin-left: 0px;
    border-color: black;

  
 }
 #head2{
    margin-top: 0px;
    padding-top: 0px;
    background-color: transparent;
    z-index: 2;
    position: relative;
    font-size: 50px;
    font-family: cursive;
 }
 /*

 
  #item_a .item_block1{
    margin-top: 600px;
    margin-left: 100px;

    background-color: red;
    width: 250px;
    height: 300px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
 }
 #item_a .item_block2{
    margin-top: 600px;
    margin-left: 100px;

    background-color: red;
    width: 250px;
    height: 300px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
 }
 */
 .item1 div {
    
    width: 300px;
    height: 500px;
    background:linear-gradient(rgb(226, 75, 75),white);
    border: 2px solid rgba(255, 252, 252, 0.3);
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 15px;
   
   
    
}
#id_items .item1{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    color: black;
    text-align: center;
    
}
#id_items  .item1 div{
    padding: 0px;
    
}
.item1 div .btn_item{
    border: 2px solid rgba(255, 252, 252, 0.3);
    border-radius: 10px;
    width: 60px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.item1 div .btn_item:hover{
    background-color: white;
    color: black;
}
#id_items  img{
   width: 300px;
   height: 25vh;
}
.item1 div:hover{
    background: linear-gradient(rgb(240, 16, 16),rgb(223, 212, 212));
    
} 

.item1 .image #item_name{
   
    font-size: 20px;
    padding: 0px;
    margin: 0;
}
.item1 .image #item_price{
   
    font-size: 25px;
    padding: 0px;
    margin: 10px;
}

/* item2*/

.item2 div {
    
    width: 300px;
    height: 500px;
    background-color: transparent;    
    border: 2px solid rgba(255, 252, 252, 0.3);
    box-shadow: 10px 10px 5px lightblue;
   
   
    
}
#id_items .item2{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    color:black;
    text-align: center;
    
}
#id_items  .item2 div{
    padding: 0px;
    
}
.item2 div .btn_item{
    border: 2px solid rgba(255, 252, 252, 0.3);
    border-radius: 10px;
    width: 60px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
.item2 div .btn_item:hover{
    background-color: white;
    color: black;
}
#id_items  img{
   width: 300px;
   height: 25vh;
}
.item2 div:hover{
    background: linear-gradient(rgb(240, 16, 16),rgb(223, 212, 212));
    
} 

.item2 .image #item_name{
   
    font-size: 20px;
    padding: 0px;
    margin: 0;
}
.item2 .image #item_price{
   
    font-size: 25px;
    padding: 0px;
    margin: 10px;
}
